
.App {
  text-align: center;
  background: url('../src/assets/images/black-circuit-3.jpg');
  background-size: cover;
  min-height: 100vh;
}

.nav-links {
  /* background: linear-gradient(#1e1e1e, #111111); */
}

#navbar {
  background: linear-gradient(#1e1e1e, #111111);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

